/* =========================================================================  =>
*                                                                              *
*    Team Project 1                                                            *
*    COMI 2010 Client-Side Scripting Languages                                 *
*    2/21/2016                                                                 *
*                                                                              *
*    James Boynton                                                             *
*    Todd Brault                                                               *
*    Alex Castillo                                                             *
*    JP Stearns                                                                *
*                                                                              *
*    sixtiespress.css                                                          *
*                                                                              *
*    Webpage stylesheet for Team Project 1, referenced by index.html.          *
*                                                                              *
<=  ========================================================================= */

.container {
  margin: 0 auto;
  max-width: 1095px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

body {
	background: #AFAFAF;
  font-family: 'Trebuchet MS', sans-serif;
}

/*Nav Bar Styles*/
nav {
	margin-top: 20px;
  background: #183470;
  height: 40px;
}

nav h1 {
  color: #fff;
  display: inline-block;
  float: left;
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 40px;
  height: 40px;
  letter-spacing: 5px;
  line-height: 1;
  margin: auto;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: #9CC849;
	display: block;
	float: right;
	padding: 10px 20px;
	text-decoration: none;
}

nav ul li a:hover {
	color: white;
}

.headerBreak {
	border-bottom: 2px solid black;
	height: 0;
	width: 100%;
}

/* Top-of-page banner*/
.banner-page-top {
  background-color: #FFF;
  border-bottom: 20px solid #183470;
  height: 240px;
  overflow: hidden;
}

/* Left side of top-of-page banner */
.banner-quote {
  float: left;
  width: 66%;
}

/* Right side of top-of-page banner */
.banner-blog {
  float: right;
  width: 34%;
}

/* Three Columns for Main Content */
.columns {
	background-color: #FFF;
	border: #333;
	display: inline-block;
	position: relative;
  overflow: auto;
}

.columns h2,h3,h4 {
	color: #306CEC;
	margin: auto;
	text-align: center;
}

.columns ul li {
	color: #000;
	line-height: 18px;
	list-style-type: circle;
	list-style: none;
	padding-right: 5px;
  text-align: center;
}

.columns img {
	display: block;
	margin: auto;
}

.columns p {
  padding: 0 10px;
  text-align: left;
}

.column-left {
  border-right: 4px dotted gray;
	float: left;
	height: 100%;
	width: 25%;
}

.contact p {
  font-size: 16px;
  text-align: center;
}

.column-center {
	display: inline-block;
	height: 100%;
	width: 49%;
  font-family: Verdana, Helvetica, sans-serif;
  overflow: hidden;
  padding-top: 7px;
  text-align: left;
}


.editorial {
  padding: 10px;
}

.column-right {
  border-left: 4px dotted gray;
	color: #173B8A;
  float: right;
  height: 100%;
  text-decoration: none;
  width: 25%;
}

.column-right ul li {
	color: #9CC849;
	text-decoration: none;
}

table {
  text-align: left;
  width: 100%
}

table, th, td {
  border-bottom: 1px dotted gray;
}

th {
  height: 60px;
}

td {
  height: 50px;
  padding: 3%;
}

.column-right p {
	color: #9CC849;
	text-decoration: none;
}

.advertisement {
  background: #808080;
  padding-bottom: 3%;
  text-align: center;
}

.advertisement p {
  text-align: center;
}

.footer {
	background: #183470;
	border-top: 1px solid black;
	clear: both;
	color: white;
	font-size: 80%;
	height: 100px;
	margin-top: 20px;
	text-align: center;
}

.footer ul li a {
	color: white;
	padding: .2em 1em;
	text-decoration: none;
}

.footer ul li a:hover {
	color: #18BC9C;
}

.icons ul li {
	display: inline;
	list-style: none;
}

.icons {
  margin: 0 auto;
  width: 50%;
}
